.css-1iq79op-SearchContainer,
.css-15roq9b-body,
.css-xefkmg-appContainer,
.WKQV,
.WC2-.WF--,
.WHXO .WBQI.WERI,
.WJTL, .WGUL,
.WOKK.WKJK.WAHK,
.WOL2>.WJXO, .WLL2>.WJXO, .WML2,
.WJJ2,
.WON2>.WKYO, .WLN2>.WKYO, .WMN2,
.WJL2
{
    background-color: #222 !important;
    color: #ffffff;
}

.WOW-,.WN0-.WN0-,.WM1-.WO1-,
.WDSV.WB2->.WK--, .WDSV.WB2->.WN0-,
.WDSV.WB2->.WM1-,
.WFRV .WFQV.WBQV,
.WFRV .WDWO,
.WCAO,
.WLDU, .WNDU, .WMDU,
.WK-F>.WH1F,
.css-xq7b2y-container,
.css-1r95trj-container,
.css-1eqv8cu-section,
.WKSV .WGSV, .WKSV .WKRV, .WGXO ,
.WB3-, .WDWO>.WJXO {
    background-color: #cacaca !important;
    color: #ffffff !important;
}

.WPMP,
.WNPV,
.wdappchrome-w .wd-icon-accent, .wdappchrome-w .wd-icon-fill,
.wdappchrome-ad .wd-icon-accent, .wdappchrome-ad .wd-icon-fill,
.wdappchrome-af,
.wdappchrome-ag,
.css-1n7ua3k-noQuickActions,
.css-1i82jvk-removeShrink,
.css-1yj2qr5-container_centered,
.wdappchrome-g,
.css-1iq79op-SearchContainer{
    background-color: #222 !important;
    color: #ffffff !important;
}

[data-part="greeting-message"],
[data-part="message"],
.WCMK.WPKK .WBJK
{
    color: #ffffff !important;
}

.WCMK.WPKK.WFIK{
    background-color: #222 !important;
}